body {
    font-family:'Raleway', sans-serif;
    color:#000000;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    margin: 0;
    padding: 0;
  }
/* header */

header {
    display:flex;
    justify-content: space-between;
    align-items: center; 
    height: 118px;
    margin: 0 50px;
}

#logo {
    width: 150px;
    margin-left:16px;
}

/* main */
main {
    margin: 0 50px;
}

/* nav */


.menu-item {
    padding: 0 45px;
}

.menu-item:hover {
    border-top: 4px solid #0065fc;
    padding: 45px;
    color:#0065fc;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;


}
