body {
    font-family:'Raleway', sans-serif;
    color:#000000;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    margin: 0;
    padding: 0;
  }



